.Container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  padding: 2rem 0;
}
.Container > h1 {
  margin-left: 50px;
}
.slider {
  display: flex;
  width: max-content;
  gap: 1rem;
  transform: translateX(0px);
  transition: 0.3s ease-in-out;
  margin-left: 50px;
}
.slider_action_left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: 0.3s ease-in-out;
  left: 0;
}
.slider_action_right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: 0.3s ease-in-out;
  right: 0;
}
.slider_action_left svg {
  font-size: 2rem;
}
.slider_action_right svg {
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .Container {
    padding: 0.5rem 0;
  }
  .Container > h1 {
    margin-left: 30px;
    font-size: 1rem;
  }
  .slider {
    gap: 1rem;
    margin-left: 20px;
  }
  .slider_action_left {
    width: 20px;
  }
  .slider_action_right {
    width: 20px;
  }
}
