.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
.logo > img {
  height: 4rem;
}
.btn {
  padding: 0.5rem 1rem;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 0.2rem;
  font-weight: bolder;
  font-size: 1.05rem;
}

@media only screen and (max-width: 600px) {
  .Container {
    padding: 0 1rem;
  }
}
