body {
  margin: 0;
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
}
.coloumn {
  flex-direction: column;
}

.j-between {
  justify-content: space-between;
}
.j-center {
  justify-content: center;
}
.a-center {
  align-items: center;
}
