body {
  margin: 0;
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
}
.coloumn {
  flex-direction: column;
}

.j-between {
  justify-content: space-between;
}
.j-center {
  justify-content: center;
}
.a-center {
  align-items: center;
}

.show_search {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.6);
}
.show_search > input {
  width: 100% !important;
  opacity: 1 !important;
  visibility: visible !important;
  padding: 0.3rem !important;
}
.show_search > input:focus {
  outline: none;
}
