.Container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 12vh 88vh;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  width: 90%;
}
.headings {
  width: 50%;
}
.headings2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form {
  display: grid;
  width: 60%;
  max-width: 60%;
}
.form > input {
  color: black;
  border: none;
  padding: 1.3rem;
  font-size: 1.2rem;
  border: 1px solid black;
}
.form > input:focus {
  outline: none;
}
.form > button {
  padding: 0.5rem 1rem;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-size: 1.05rem;
}
.button {
  padding: 0.5rem 1rem;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 0.2rem;
  font-weight: bolder;
  font-size: 1.05rem;
}

@media only screen and (max-width: 600px) {
  .headings {
    width: 100%;
  }
  .headings > h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .headings2 > h4 {
    font-size: 1.5rem;
    text-align: center;
  }
  .headings2 > h6 {
    font-size: 0.8rem;
    text-align: center;
  }
  .form {
    width: 95vw;
    max-width: 90%;
  }
  .form > input {
    padding: 1rem;
    font-size: 1rem;
  }
  .form > button {
    padding: 1rem;
    font-size: 1rem;
  }
}
